# Listas, tuplas y diccionarios


Tanto las tuplas, como listas y diccionarios, **son una forma de almacenar varios datos diferentes, de diversos tipos (cadenas de texto, enteros, flotantes, booleanos…) en una misma variable.**

**El orden en el cual estos datos se especifican dentro de la variable, se denomina índice**, teniendo **el primer dato** un **índice 0 (cero)**, el siguiente 1, y así incrementalmente.

Veamos estos tres nuevos tipos de datos en detalle:

In [ ]:
a = {1,2,3,4,"hola", "mundo",5,6,7,8,9,10}
b = {1,2,3,4,"hola", "mundo",5,6,7,8,9,10}
c = {1,2,3,4,"hola", "mundo",5,6,7,8,9,10}
d = {1,2,3,4,"hola", "mundo",5,6,7,8,9,10}

In [3]:
print(a)
print(b)
print(c)   
print(d)

{1, 2, 3, 4, 'mundo', 5, 6, 7, 8, 9, 10, 'hola'}
{1, 2, 3, 4, 'mundo', 5, 6, 7, 8, 9, 10, 'hola'}
{1, 2, 3, 4, 'mundo', 5, 6, 7, 8, 9, 10, 'hola'}
{1, 2, 3, 4, 'mundo', 5, 6, 7, 8, 9, 10, 'hola'}

# Tuplas

In [5]:
a = (1,2,4,5)
type(a)

tuple

In [6]:
a[2]

4

### Las tuplas son secuencias, igual que las cadenas, y se puede utilizar la misma notación de índices que en las cadenas para obtener cada una de sus componentes.

In [9]:
a[len(a)-1]
a[-1]

5

# Nota:  <font color="#8A0829">Las tuplas son inmutables. </font>
## <font color="#8A0829"> Los datos contenidos en una tupla no pueden modificarse. </font>

# Longitud de tuplas

Se les puede aplicar la función **len()** para calcular su longitud. Esta función nos indica cuántas componentes tiene esa tupla.

In [10]:
a = (1,2,4,5,"hola","Mundo",5)
len(a)

7

# Empaquetado de tuplas

Si a una variable se le asigna una secuencia de valores separados por comas, el valor de esa variable será la tupla formada por todos los valores asignados.

A esta operación se la denomina **empaquetado de tuplas**.

In [11]:
a='pan'
b="leche"
c=100

tupla_b = a,b,c
print (tupla_b," es ",type(tupla_b))

('pan', 'leche', 100)  es  <class 'tuple'>

# Desempaquetado de tuplas

Si se tiene una tupla de longitud i, se puede asignar la tupla a i variables distintas y en cada variable quedará una de las componentes de la tupla. 

A esta operación se la denomina **desempaquetado de tuplas.**

In [16]:
puntos = ( (1,2),(4,5,5,4,4,5),(6,7,2,3,3) )
for p in puntos:
    print(p[1])

2
5
7

In [14]:
x,y,z = ( (1,2),(4,5),(6,7) )
z,x,y

((6, 7), (1, 2), (4, 5))

In [20]:
tupla_b._getitem_(0)

AttributeError: 'tuple' object has no attribute '_getitem_'

In [12]:
c,b,a = tupla_b
print (a,b,c)

100 leche pan

In [17]:
c,b= tupla_b

ValueError: too many values to unpack (expected 2)

In [18]:
d,c,b,a = tupla_b

ValueError: not enough values to unpack (expected 4, got 3)

In [19]:
print (tupla_b)
b,b,b = tupla_b
print (b)

('pan', 'leche', 100)
100

In [22]:
leche="leche"
tupla_a = ('pan', leche, 100, 1234, True, 234.3)
lista_a =[ 'pan', 'leche', 100, 1234, True, 234.3]
tupla_a,lista_a,type(tupla_a),type(lista_a)

(('pan', 'leche', 100, 1234, True, 234.3),
 ['pan', 'leche', 100, 1234, True, 234.3],
 tuple,
 list)

In [26]:
lista_a[0:5:2]

['pan', 100, True]

In [24]:
lista_a[-1]

234.3

In [25]:
lista_a

['pan', 'leche', 100, 1234, True, 234.3]

# Listas

Usaremos listas para poder modelar datos compuestos pero **cuya cantidad y valor varían a lo largo del tiempo**. 

<font color="#8A0829"> **Son secuencias mutables** </font>  y vienen dotadas de una variedad de operaciones muy útiles.

In [ ]:
lista_a = 'pan', 'leche', 100, 1234, True, 234.3
print (lista_a)

In [ ]:
lista_a

In [ ]:
lista_a

In [ ]:
lista_a

# Cómo mutar listas

Dijimos antes que las listas son secuencias mutables. 

Para lograr la mutabilidad Python provee operaciones que nos permiten **cambiarle valores, agregarle valores y quitarle valores.**

In [27]:
print (lista_a)
lista_a.append("nuevo valor")
print (lista_a)

['pan', 'leche', 100, 1234, True, 234.3]
['pan', 'leche', 100, 1234, True, 234.3, 'nuevo valor']

In [28]:
lista_a.append("otro valor")
print (lista_a)

['pan', 'leche', 100, 1234, True, 234.3, 'nuevo valor', 'otro valor']

In [49]:
lista_a.insert(2,"Miel")
print (lista_a)

['pan', 'valor insertado', 'Miel', 'Miel', 'Miel', 'Miel', 'Miel', 'Miel', 234.3, 'nuevo valor', 'otro valor']

In [34]:
print (lista_a)

['pan', 'valor insertado', 'Miel', 'Miel3', 'Miel', 'valor insertado', 'leche', 100, 1234, True, 234.3, 'nuevo valor', 'otro valor']

In [42]:
lista_a.remove('Miel')
print (lista_a)

['pan', 'valor insertado', True, 234.3, 'nuevo valor', 'otro valor']

In [43]:
del lista_a[2]
print (lista_a)

['pan', 'valor insertado', 234.3, 'nuevo valor', 'otro valor']

In [39]:
del lista_a[2:7]
print (lista_a)

['pan', 'valor insertado', True, 234.3, 'nuevo valor', 'otro valor']

In [40]:
print(lista_a)
lista_a.insert(2,"Miel")

['pan', 'valor insertado', True, 234.3, 'nuevo valor', 'otro valor']

In [ ]:
print (lista_a)

In [ ]:
print (lista_a)

In [ ]:
lista_a

In [ ]:
lista_a

In [ ]:
# Hay una manera de quitar un ítem de una lista dado su índice en lugar de su valor

print (lista_a)

In [ ]:
lista_b = 
print (lista_b)
lista_b
print (lista_b)
lista_b
print (lista_b)

# Longitud de listas

Se les puede aplicar la función **len()** para calcular su longitud. Esta función nos indica cuántas componentes tiene esa lista.

In [50]:
len(lista_a)

11

In [51]:
n=2
lista_a[len((lista_a))-n], lista_a[-n]

('nuevo valor', 'nuevo valor')

# Conversión de tipos

In [52]:
tupla = 1, 2, 3, 4
print (tupla)

(1, 2, 3, 4)

In [53]:
list(tupla)

[1, 2, 3, 4]

In [55]:
lista_1 = list(tupla)
lista_1

[1, 2, 3, 4]

In [56]:
lista=[1,2,3,4]

In [57]:
tuple(lista)

(1, 2, 3, 4)

In [58]:
lista, type(lista)

([1, 2, 3, 4], list)

# En Python, las listas, las tuplas y las cadenas son parte del conjunto de las secuencias. Todas las secuencias cuentan con las siguientes operaciones:

In [59]:
tupla_a = 'pan', 'leche', 100, 1234, True, 234.3 # tupla
lista_a = 'pan', 'leche', 100, 1234, True, 234.3 # lista
string_a = 'pan leche 100 1235 True 234.3' #cadena

In [60]:
tupla_a[0],lista_a[0],string_a[0:-10]

('pan', 'pan', 'pan leche 100 1235 ')

# Operandor <font color = "red"> in </font>

Ej. X **in** Y  

Indica si la variable X se encuentra en Y

In [61]:
"leche" in tupla_a

True

In [62]:
"leche" in lista_a

True

In [63]:
"leche" in string_a

True

# Concantena las secuencias X y Y

Ej. X + Y

In [68]:
tupla_a = ('pan', 'leche', 100, 1234, True, 234.3) # tupla
lista_a = ['pan', 'leche', 100, 1234, True, 234.3]# lista

#print(tupla_a + lista_a)
list(tupla_a)+lista_a

['pan',
 'leche',
 100,
 1234,
 True,
 234.3,
 'pan',
 'leche',
 100,
 1234,
 True,
 234.3]

In [65]:
a= tupla_a + tupla_a
a

('pan',
 'leche',
 100,
 1234,
 True,
 234.3,
 'pan',
 'leche',
 100,
 1234,
 True,
 234.3)

In [72]:
list(range(1,18))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

In [ ]:
string_a + string_a

In [ ]:
lista_a + list(tupla_a)

In [ ]:
tuple (lista_a) + tupla_a

# Elemento i de Y, empezando por 0

Ej. Y[i]

In [ ]:
tupla_a

In [ ]:
lista_a

In [ ]:
string_a

# Porción de la secuencia Y desde i hasta j (no inclusive)

Ej. Y[i:j]

In [73]:
tupla_a[2:6]

(100, 1234, True, 234.3)

In [74]:
lista_a[2:6]

[100, 1234, True, 234.3]

In [75]:
string_a[2:6]

'n le'

# Porción de la secuencia Y desde i hasta j (no inclusive), con paso k

Ej. Y[i:j:k]

In [76]:
print (tupla_a)
tupla_a[0:6:2]

('pan', 'leche', 100, 1234, True, 234.3)

('pan', 100, True)

In [77]:
lista_a[0:6:2]

['pan', 100, True]

In [78]:
string_a[0:6:2]

'pnl'

# Copiar datos

In [79]:
x=5
y=x

In [80]:
y=6
print(x,y)

5 6

In [81]:
x=(5,6,7)
y=x

In [82]:
y= (7,8)
print (x,y)

(5, 6, 7) (7, 8)

In [83]:
x = [8,9,10]
y=x #.copy() # [:]

In [84]:
y[0]= 11
print (x,y)

[11, 9, 10] [11, 9, 10]

# Diccionarios

- Se encierra el listado de valores entre llaves **{}**, 
- Las parejas de clave y valor se separan con comas
- La clave y el valor se separan con **:**.

Ej. {Clave1:valor1, Clave2:valor2,...}

## <font color = "red"> No puede haber dos keys iguales, aunque sí dos valores iguales. </font>

In [ ]:
type ( {1,2,4,6,4}), type({"a":1,"b":2,"c":3}) ,type ( (1,2,4,6,4) ),type ( [1,2,4,6,4] )

In [ ]:
diccionario_a = {"Pedro":100,"Juan":300,"Carlos":2000,"Diego":1000}

In [ ]:
diccionario_a["Pedro"]

In [ ]:
diccionario_a["Juan"]

In [ ]:
diccionario_b={}

In [ ]:
diccionario_b

In [ ]:
print(diccionario_b)

In [ ]:
diccionario_b[] = 
print(diccionario_b)

In [ ]:
len(diccionario_b)

In [ ]:
diccionario_b["c"] = 120
print(diccionario_b)

In [ ]:
print(diccionario_b)

In [ ]:
del diccionario_b
print(diccionario_b)

In [ ]:
nombres = ["Pedro","Juan","Carlos","Diego"]
diccionario1 = dict.fromkeys(nombres)

print (diccionario1)

# <font color = "blue"> NOTA </font>
El algoritmo que usa Python internamente para buscar un elemento en un diccionario es muy distinto que el que utiliza para buscar en listas.

**Para buscar en las listas**, se utiliza un **algoritmos de comparación** que tarda cada vez más a medida que la lista se hace más larga. 

En cambio, para **buscar en diccionarios** se utiliza un **algoritmo llamado hash**, que se basa en realizar un cálculo numérico sobre la clave del elemento, y tiene una propiedad muy interesante: **sin importar cuántos elementos tenga el diccionario, el tiempo de búsqueda es siempre aproximadamente igual.**

Este algoritmo de hash es también la razón por la cual las claves de los diccionarios deben ser inmutables, ya que la operación hecha sobre las claves debe dar siempre el mismo resultado, y si se utilizara una variable mutable esto no sería posible.

# Conjuntos

Python también incluye un tipo de dato para conjuntos. Un conjunto es una colección no ordenada y sin elementos repetidos. Los usos básicos de éstos incluyen verificación de pertenencia y eliminación de entradas duplicadas. Los conjuntos también soportan operaciones matemáticas como la unión, intersección, diferencia, y diferencia simétrica.

### Las llaves o la función set() pueden usarse para crear conjuntos.

### <font color = "red"> Notá que para crear un conjunto vacío tenés que usar set(), no {}; esto último crea un diccionario vacío </font>

In [ ]:
set_a = 1,"a",2,"z","b",2
set_a

In [ ]:
set_b = 'pan', 'leche', 100, 1234, True, 234.3,"pan","leche"
set_b

In [ ]:
set_c = 'pan', 'leche', 100, 1234, True, 234.3,"pan","leche"
set_c

In [ ]:
set_a = 'pan', 'leche', 100, 1234, True, 234.3,"pan","leche",'banana'
set_b = 'pan', 'leche', 100, 1234, True, 234.3,"pan","leche",'pera', 'manzana', 'naranja'
set_b

In [ ]:
A= 1,2,3,4
B= 3,4,5,6

In [ ]:
A-B

In [ ]:
A & B

In [ ]:
A | B

In [ ]:
A ^ B

In [ ]:
print (set_a)
print (set_b)

In [ ]:
set_b-set_a # elementos en set_b pero no en set_a

In [ ]:
set_b | set_a # elementos en b o en a

In [ ]:
set_b & set_a # elementos en b y en a

In [ ]:
set_b ^ set_a # Elementos en a o b pero no en ambos

In [ ]:
set_b[1] #Es una colección no ordenada

In [ ]:
for i in A:
    print (A)

In [ ]:
for i in {1,6,7,8}:
    print (i)

In [ ]:
for i in set_b:
    print (i)

In [ ]:
len(set_b)

# Técnicas de iteración

In [ ]:
for i, v in "leche",'pera', 'manzana', 'naranja'
    print(i, v)

In [ ]:
dic_a = "a":4,"b":3,"c":2,"d":1
for i in dic_a:
    print (i,dic_a[i])

In [ ]:
dic_a = "a":4,"b":3,"c":2,"d":1
for k, v in dic_a.items():
    print(k, v)

Para iterar sobre dos o más secuencias al mismo tiempo, los valores pueden emparejarse con la función **zip()**.

In [ ]:
nombres = ["Pedro","Juan","Carlos","Diego"]
valores = (100,300,2000,1000,45,234)

for n, v in nombres, valores
    print (n+str(v))

In [ ]:
nombres = ["Pedro","Juan","Carlos","Diego"]
valores = (100,300,2000,1000)

diccionario1 = nombres, valores
print (diccionario1)

In [ ]:
a= list(range(2,5+1))
a

In [ ]:
tmp=0
for var in a:
    
    tmp= var+tmp
    #tmp= tmp+ var
    #tmp += var

print (tmp)

In [ ]:
ta = (1,2,3,7)
tb = (4,5,6)

L=[]
for a,b in ta,tb:
    L.append(a+b)

print (tuple (L) )

# Tarea :

- Diseñar un programa que sume dos tuplas de números. 
- Diseñar un programa que pida los valores de dos vectores, y realice el producto punto de estos vectores.  
- Diseñar un programa que pida una nombre y que cambie las vocales por números (Encriptación). Ej. Nombre: Michel y lo cambie a M4ch3l. Utilizando diccionarios.